.billbook-switch-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0 4px 26px;
    border: 1px solid #ddd;
    border-radius: 20px;
    min-width: 130px;
    height: 44px;
    background-color: #ffffff;
    transition: background-color 200ms;
    margin: auto;
}

.billbook-switch-title.active {
    background-color: #e7e7e7;
}

.billbook-switch-popover-item {
    text-align: center;
}

.billbook-switch-downicon {
    margin-right: 8px;
}

span.am-popover-item-content {
    margin: auto;
}

.billbook-add-button {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 5px;
    left: calc(50vw - 25px);
    background-color: #108ee9;
    z-index: 100;
    border-radius: 50%;
}

.billbook-add-button-icon {
    color: white;
    font-size: 40px;
    width: 1em;
    height: 1em;
    display: block;
    line-height: 0;
    position: relative;
    left: 5px;
    top: 5px;
}