.slider-list {
    height: auto !important;
}

.slider-slide {
    position: static !important;
}

.cat-grid-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}