.user-body-box {
  width: 100vw;
  height: 75vh;
  /* max-height: 75vh; */
}

.user-box {
  height: 100%;
  max-height: 24rem;
  width: 20rem;
}

.user-link-box {
    width: 100%;
    margin: 1rem auto;
}

.user-link {
  flex: 1 1 120px;
  margin: 0 15px;
  max-width: 120px;
}