.iconed-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.iconed-icon {
    display: block;
    line-height: 0;
}

.iconed-text {
    display: block;
}