.select-button {
    flex: 1 1;
}

.select-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    margin-left: 15px;
    padding: 0px 15px 0px 0px;
    height: 44px;
}